<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vibecloud">

    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:process=":remote"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.VibeCloud"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".author_activity"
            android:exported="false" />
        <activity
            android:name=".search_test"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Test"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivityHome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicListening"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicSelection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BindingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestServiceShit"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Library"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Playlist_Layout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentPlaylist_Discord"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".LocalService"></service>
        <service android:name=".ServiceTest"></service>
        <receiver android:name=".ActionReceiver"></receiver>
        <receiver android:name=".ServiceTest$nextReceiver" android:exported="false">
            <intent-filter>
                <action android:name="next" />
            </intent-filter>
        </receiver>
    </application>

</manifest>